@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,400i,700,700i|Source+Sans+Pro:400,700|Source+Code+Pro:400,700,400i,700i');

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book.font-family-0 {
  font-family: 'Source Serif Pro', Georgia, serif;
}
.book.font-family-1 {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.advanced-text {
  border-left: 6px solid #8C8279;
  padding-left: 6px;
}